<% include header.html %>
<div id="container" class="container"> 
	<div class="hero-unit"> 
		<h1>欢迎来到 Microblog</h1> 
		<p>Microblog 是一个基于 Node.js 的微博系统。</p>
		<p> 
			<a class="btn btn-primary btn-large" href="/login">登录</a> 
			<a class="btn btn-large" href="/register">立即注册</a> 
		</p> 
	</div>

	<div class="row"> 
		<div class="span4"> 
			<h2>rainkide 说</h2> 
			<p>路走对了就不怕远...</p> 
		</div> 
		<div class="span4"> 
			<h2>圣雄甘地 说</h2> 
			<p>心若改变，态度就会改变；态度改变，习惯就改变；习惯改变，人生就会改变。</p> 
		</div> 
		<div class="span4"> 
			<h2>valleykiddy 说</h2> 
			<p>做事不再纠结...2/8原则</p> 
		</div> 
	</div>
<% include footer.html %>